<% provide(:title) %>
<div>
  <h1>勤怠ログ</h1>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>変更前出社時間</th>
        <th>変更前退社時間</th>
        <th>変更後出社</th>
        <th>変更後退社</th>
        <th>指示者</th>
        <th>承認日</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |day| %>
      <tr>
       <td><%= l(day.worked_on, format: :short) %></td>
       <td>
        <% if day.worked_on.wday == 6 %>
          <font color="Blue">土</font>
        <% elsif day.worked_on.wday == 0 %>
          <font color="RED">日</font>
        <% else %>
          <%= $days_of_the_week[day.worked_on.wday] %>
        <% end %>
       </td>
       <td><%= l(day.first_start_time, format: :time) if day.first_start_time.present? %></td>
       <td><%= l(day.first_end_time, format: :time) if day.first_end_time.present? %></td>
       <td><%= l(day.started_at, format: :time) if day.started_at.present? %></td>
       <td><%= l(day.finished_at, format: :time) if day.finished_at.present? %></td>
       <td><%= day.change_superior_id if day.change_superior_id.present? %></td>
       <td><%= l(day.updated_at, format: :time) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>